* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    font-size: 20px;
}

header {
    width: 100%;
    height: 69px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto 0 auto;
}

span {
    font-weight: bold;
}

h1 {
    color: #B9B9B9;
    margin: 33px;
}

input {
    margin: 4px 0;
    width: 341px;
    height: 46px;
    border-radius: 5px;
    padding-left: 8px;
    border: 1px solid #D1D1D1;
}

button {
    border-radius: 10px;
    width: 300px;
    height: 40px;
    background-color: #EC362D;
    color: #FFFFFF;
    margin: 50px 0;
    border: 0;
}

.userQuizzes {
    width: 1050px;
}

.filledUserQuizzes {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filledUserQuizzes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.filledUserQuizzes img {
    min-width: 340px;
    height: 181px;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent)
}

.filledUserQuizzes li {
    position: relative;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 64.58%);
    margin-bottom: 12px;
}

.filledUserQuizzes ion-icon {
    margin-left: 17px;
    width: 30px;
    height: 30px;
    color: #EC362D;
}

.filledUserQuizzes ion-icon:hover {
    cursor: pointer;
}

.filledUserQuizzes span {
    display: flex;
    align-items: center;
}

.filledUserQuizzes p {
    position: absolute;
    color: #FFFFFF;
    bottom: 16px;
    left: 8px;
}

.emptyUserQuizzes {
    border: 2px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyUserQuizzes button {
    margin: 0 auto 33px auto;
    padding: 7px;
    background-color: #FAFAFA;
    border: 2px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
    font-size: 21px;
    width: 136px;
}

.emptyUserQuizzes button:hover {
    cursor: pointer;
}

.allQuizzes {
    margin: 48px auto 0 auto;
    width: 1050px;
}

.allQuizzes ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    justify-content: space-between;
}

.allQuizzes img {
    min-width: 340px;
    height: 181px;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent)
}

.allQuizzes li {
    position: relative;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 64.58%);
    margin-bottom: 12px;
}

.allQuizzes li:hover {
    cursor: pointer;
}

.allQuizzes p {
    position: absolute;
    color: #FFFFFF;
    bottom: 16px;
    left: 8px;
}

.hide-class {
    display: none;
}

.basic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 300px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    margin-top: 10px;
    margin-bottom: 5px;
}

.createInput {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin-top: 20px;
    width: 375px;
    padding: 10px 0;
}
.createQuestions{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.questioning {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #FFFFFF;
}

.questionWaiting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 600px;
    padding: 4px 10px;
    margin-bottom: 15px;
}

.createLevels {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.creatingLevels {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px 0;
    background-color: #FFFFFF;
}

.levelWaiting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 600px;
    padding: 4px 10px;
    margin-bottom: 15px;
}

.finished {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.access {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 2px;
    background-color: #EC362D;
    color: #FFFFFF;
    border: 0;
}

.home {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin: 0;
    background-color: #FAFAFA;
    color: #818181;
    border: 0;

}

.quizzCreated {
    width: 500px;
    height: 266px;
    margin-top: 25px;
    background-color: aqua;
}



@media (max-width: 1110px) {

    header {
        width: 100vw;
    }

    main {
        margin: 100px auto 0 auto;
    }

    .userQuizzes {
        width: 100%;
    }

    .emptyUserQuizzes {

        height: 181px;
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .filledUserQuizzes {
        width: 100%;
        align-items: center;
    }

    .filledUserQuizzes ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allQuizzes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    } 

    .allQuizzes ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allQuizzes span {
        display: flex;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
    }
}
