* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    font-size: 20px;
}

header {
    width: 100%;
    height: 69px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto 0 auto;
}

.userQuizzes {
    margin: 0 auto;
    width: 1050px;
}

.filledUserQuizzes {
    display: flex;
    flex-direction: column;
}

.filledUserQuizzes span {
    font-weight: bold;
}

.emptyUserQuizzes {
    border: 2px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyUserQuizzes span {
    color: #B9B9B9;
    margin: 33px;
}

.emptyUserQuizzes button {
    margin: 0 auto 33px auto;
    padding: 7px;
    background-color: #FAFAFA;
    border: 2px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
    font-size: 21px;
    width: 136px;
}

.emptyUserQuizzes button:hover {
    cursor: pointer;
}

.allQuizzes {
    margin: 77px auto 0 auto;
    width: 1050px;
}

.allQuizzes ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    justify-content: space-between;
}

.allQuizzes img {
    min-width: 340px;
    height: 181px;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent)
}

.allQuizzes li {
    position: relative;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 64.58%);
    margin: 5px;
}

.allQuizzes li:hover {
    cursor: pointer;
}

.allQuizzes p {
    position: absolute;
    color: #FFFFFF;
    bottom: 16px;
    left: 8px;
}

.allQuizzes span {
    font-weight: bold;
    margin-left: 5px;
}

.hide-class {
    display: none;
}

@media (max-width: 1110px) {
    .emptyUserQuizzes {
        width: 340px;
        height: 181px;
        margin: 0 auto;
    }

    .allQuizzes ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}